.wrapper-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -5;
}

.wrapper-video::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: linear-gradient(rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 1));
}

.main-video {
  width: 100%;
}

.billboard-row {
  display: flex;
  align-items: flex-end;
  height: 80rem;
  padding: 0 0 8rem 4rem;
}

.billboard {
  position: relative;
}

.billboard-title {
  position: absolute;
  top: -23rem;
  margin-bottom: 1rem;
  width: 32.8rem;
  height: 13.4rem;
  transition: all 1s;
}

.billboard-title img {
  width: inherit;
  height: inherit;
}

.shrink {
  top: -10rem;
  width: 21rem;
  height: 9.8rem;
}

.billboard-description {
  position: absolute;
  font-size: 1.3rem;
  top: -8rem;
}

.billboard-play {
  width: 9rem;
  height: 3.2rem;
  border: none;
  background-color: #fff;
  border-radius: 0.5rem;
  font-weight: bold;
  margin: 1.5rem 1rem 0 0;
}

.billboard-play:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.billboard-detail {
  width: 12rem;
  height: 3.2rem;
  border-radius: 0.5rem;
  background-color: rgba(121, 121, 121, 0.8);
  border: none;
  color: #fff;
  font-weight: bold;
}

.billboard-detail:hover {
  background-color: rgba(121, 121, 121, 0.5);
}

.billboard-play-wrapper,
.billboard-detail-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
}

.billboard-replay-wrapper,
.billboard-mute-wrapper {
  flex: 1;
}

.billboard-replay,
.billboard-mute {
  position: absolute;
  right: 3.5rem;
  bottom: 5.5rem;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  border-radius: 10rem;
}

.billboard-replay:hover,
.billboard-mute:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 841px) and (max-width: 1280px) {
  .billboard-row {
    height: 45rem;
  }
  .billboard-description {
    width: 32.5rem;
  }
}

.fade-exit-active {
  animation: move-bottom 1s ease-out;
}

@keyframes move-bottom {
  0% {
    opacity: 1;
  }

  100% {
    top: 0;
    opacity: 0;
  }
}
