.billboard-content {
  position: relative;
  color: #fff;
  width: 100%;
  height: 100%;
}

.billboard-content::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100vw;
  height: 100%;
  background-color: #141414;
  z-index: -10;
}

.video-content {
  height: 100%;
  position: relative;
  color: #fff;
}

.video-content::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100vw;
  height: 100%;
  background-color: #141414;
  z-index: -10;
}
